SCGA\anexoArtista\*
SCGA\anexoEditais\*
SCGA\anexoGeral\*
SCGA\anexoInabilitados\*
SCGA\anexoInscricaoSJ\*
SCGA\anexoConcurso\*
SCGA\anexoProponente\*
SCGA\anexoHabilitacao\*
SCGA\anexoInscricaoCasaRosa\*
SCGA\anexoInscricaoEdital\*
SCGA\anexoRecursoAnaliseDocumental\*
SCGA\anexosV_PatrimonioVivo\*